* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

:root {
  --main-color: #f26398;
  --text-color: #fff;
  --other-color: #212121;
  --second-color: #f2ced8;
  --bg-color: #111111;

  --big-font: 4.5rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 0 10%;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 30px 10%;
  /* height: 70px; */

  background-color: transparent;
}

.logo {
  text-align: center;
  vertical-align: middle;
}

.logo a {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 700;
  padding: 0;
}

.logo i {
  color: var(--main-color);
}

.logo span {
  color: var(--main-color);
  font-weight: 1000;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list a {
  margin: 0 20px;
  color: var(--text-color);
}

#home {
  color: var(--main-color);
}

.nav-list a:hover {
  color: var(--main-color);
}

.nav i {
  color: var(--main-color);
  font-size: 20px;
  margin: 0 10px;
}

.sr {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  height: 30px;
  padding: 10px;
  background: var(--other-color);
  box-shadow: 0 0 5px var(--second-color);
}

.search {
  border: none;
  background: none;
  outline: none;
  width: 0;
  color: var(--text-color);
  transition: 0.5s;
}

#nut {
  transition: 0.5s;
}

.sr:hover .search {
  width: 200px;
}
.sr:hover #nut i {
  color: var(--text-color);
}

.nav a:hover i {
  color: var(--text-color);
}

.menu {
  display: none;
}

header.sticky {
  padding: 12px 10%;
  background: var(--other-color);
  transition: background 0.5s ease;
}

/* Nhiem vu 0 */
.home {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 70px 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transform: translateY(16px);
  animation: appearSmooth 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

@keyframes appearSmooth {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.left {
  grid-column: 1 / span 1;
}

.left > h1 {
  font-size: 58px;
  font-weight: 900;
  padding: 0 0 30px;
  color: var(--text-color);
}

.left > h1 > span {
  color: var(--main-color);
}

.image {
  grid-column: 2 / span 1;
}
.image > img {
  width: 500px;
  filter: drop-shadow(20px 0px 7px rgba(242, 206, 216, 1));
}

.buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.btn {
  padding: 10px 12px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: var(--other-color);
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.btn:hover {
  background-color: var(--main-color);
  color: white;
  box-shadow: 0 0 5px var(--second-color);
}

.btn-1 {
  color: var(--main-color);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.btn-1:hover {
  color: var(--text-color);
}

/* Nhiem vu 1 */


.info-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
 
  border-radius: 10px;
  margin-bottom: 90px;
}

.info-item {
  padding: 50px 10px;
  text-align: center;
  
  border-radius: 12px;
  background-color: var(--other-color); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


  .info-item a {
      padding: 0;
      margin: 0;
  }

  .phone i{
    font-size: 50px;
    margin-bottom: 30px;
    color: var(--main-color);
    transition: 0.5s ease;
  }

  .info-item:hover .phone i{
    scale: 1.3;
    color: var(--second-color);
  }

.info-item p, .info-item span{
  font-size: 20px;
  color: darkgray;
}

.info-item {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.info-item.fly-in-visible {
  opacity: 1;
  transform: translateY(0); 
}


.pet-food-info {
  padding: 0;
  margin: 0;
}

.info-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.poodle-img {
  width: 500px;
  height: 430px;
  filter: drop-shadow(20px 0px 7px rgba(242, 206, 216, 1));
  border: none;
}

.info-text {
  max-width: 700px;
  text-align: left;
}

  .info-text h2 {
      font-size: 34px;
      color: var(--main-color);
      font-weight: 900;
      margin-bottom: 16px;
      text-align: left; 
  }

  .info-text p {
      margin-bottom: 22px;
      font-size: 20px;
      
      text-align: justify;
  }

.read-more {
  display: inline-block;
  margin-top: 8px;
  padding: 8px 16px;
  color: var(--main-color);
  background-color: var(--other-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover{
  background-color: var(--main-color);
  color: white;
  box-shadow: 0 0 5px var(--second-color);
}

.fly-in-section {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.6s ease;
}

.fly-in-visible {
  opacity: 1;
  transform: translateY(0);
}










/* Nhiem vu 2 */
/* Nhiem vu 3 */
